@import '../../assets/styles/variables.scss';

.searchPage {
    @include sectionPadding;
}

.searchTop {
    display: flex;
}

.searchTitle {
    margin-bottom: 25px;
    padding-right: 30px;
    @include sectionTitle;
}

.subtitle {
    color: $main-dark;
    font-family: 'Inter';
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 400;
    line-height: clamp(14px, 2.5vw, 20px);
    padding-right: 30px;

}

.searchTopImg {
    max-width: 397px;
    max-height: 111px;
    object-fit: contain;
    overflow: hidden;
    align-self: flex-end;
}

.searchMainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    column-gap: 80px;
    row-gap: 40px;
}

.searchFormWrapper {
    border-radius: 10px;

    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
}

.searchMainImg {
    max-width: 442px;
    height: auto;
    object-fit: contain;
}