@import '../../assets/styles/variables.scss';

.search {
    padding: 30px;
}

.searchItems {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.searchItem {
    display: flex;
    flex-direction: column;
    width: 50%;
}


.searchLabel {
    display: block;
    margin-bottom: 30px;

    span {
        display: flex;
        gap: 2px;
        color: $main-dark;
        margin-bottom: 20px;
        height: 20px;
        @include fsz18;

        .footnoteInvalid {
            color: red;
            position: relative;

            &::before {
                content: '*';
                position: absolute;
                top: 0;
                left: 0;
            }

            ~input[type="number"],
            ~input[type="date"],
            ~select {
                border: 1px solid red;
            }
        }

        .footnoreValid {
            position: relative;

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                appearance: none;
                background-image: url('../../assets/icons/common/checked.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    input {
        display: inline-block;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 5px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        background: rgb(255, 255, 255);
        padding: 8px;
        outline: none;
        width: 242px;

        &::placeholder {
            opacity: 0.4;
            color: rgb(148, 148, 148);
            text-align: center;
            @include fsz14;
        }

        &:focus {
            border: 1px solid $main-cyan;
            background: rgb(255, 255, 255);
        }

        &.inputInvalid {
            &:user-invalid {
                border: 1px solid red;
            }
        }
    }

    input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
    }

    select {
        width: 242px;
        padding: 8px;
        outline: none;

        &:focus {
            border: 1px solid $main-cyan;
            background: rgb(255, 255, 255);
        }
    }

    .inputWrapper {
        display: flex;
        gap: 10px;

        input {
            width: 160px;

            &.inputInvalid {
                &:user-invalid {
                    border: 1px solid red;
                }
            }
        }
    }
}

.checkboxItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    column-gap: 15px;
    color: rgba(0, 0, 0, .4);

}

.checkbox,
.checkboxLabel {
    color: rgba(0, 0, 0, .4);
}

.checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, .4);
    cursor: pointer;
    position: relative;

    &:checked {
        background-image: url('../../assets/icons/common/checked.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

}

.checkbox:checked+.checkboxLabel {
    color: $main-dark;
}

.checkboxLabel {
    cursor: pointer;
    @include fsz18;
}

.searchBtn {
    margin-top: auto;
    padding: 16px;
    border-radius: 5px;

    background: rgb(89, 112, 255);

    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;

    &:disabled {
        background: rgba(89, 112, 255, .4);
        cursor: default;

    }
}

.required {
    color: rgb(148, 148, 148);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 10px;
    display: flex;
    gap: 2px;

    .footnoteInvalid {
        color: red;
        position: relative;
        height: 20px;

        &::before {
            content: '*';
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .footnoreValid {
        position: relative;
        height: 20px;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            appearance: none;
            background-image: url('../../assets/icons/common/checked.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}



@media(max-width: 800px) {
    .search {
        padding: 30px 20px;
    }
}

@media(max-width: 768px) {
    .search {
        padding: 20px 10px;
    }

    .searchLabel {
        .inputWrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            input {
                width: 100%;
            }
        }
    }
}

@media(max-width: 625px) {
    .searchItems {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 15px;
    }

    .searchItem {
        width: 100%;
    }

    .searchLabel {
        margin-bottom: 10px;

        span {
            margin-bottom: 10px;
        }

        .inputWrapper {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;

            input {
                width: 100%;
            }
        }
    }

    .searchMainImg {
        max-width: 100%;
    }
}

@media(max-width: 425px) {
    .searchLabel {
        .inputWrapper {
            flex-wrap: wrap;
        }
    }
}