@import './assets/styles/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-fonts;
  font-size: 18px;
  color: $main-dark;
  line-height: 22px;
}

body,
html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid $main-cyan;

}